@font-face {
  font-family: "reggae";
  src: url("../FOT-Reggae_Std.ttf") format("truetype");
}
@font-face {
  font-family: "chiaro";
  src: url("../FOT-ChiaroStd-B.otf") format("opentype");
}
.container {
  color: white !important;
}
body,
main,
footer {
  background: rgb(30, 30, 30) !important;
}
.h1,
h1 {
  font-size: 2rem !important;
}
.jumbotron {
  padding: 0 !important;
  background: url("../logo.png");
  background-size: cover;
  background-position: center;
}

.jumbotron .container {
  max-width: 100% !important;
  margin: 0 auto !important;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
}
.jumbotron .container .row {
  width: 50% !important;
  height: 400px !important;
  margin: 0 auto !important;

  display: flex !important;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  color: white;
}
.jumbotron .container .row h1 {
  font-family: "reggae";
  font-size: 3rem !important;
}
h2,
h3,
p,
ul,
li {
  font-family: "chiaro";
}

.card {
  background: rgb(50, 50, 50) !important;
}
.card-body {
  color: white !important;
}

.btn-success,
.btn-primary {
  color: white !important;
}
footer {
  padding: 25px !important;
}
hr {
  border-color: white !important;
}

.container-1ov-mD {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.25rem;
  text-indent: 0;
  min-height: 0;
  min-width: 0;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  background: rgb(75, 75, 75);
  color: white;
  border-radius: 30px;
}
.wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI {
  background-color: var(--background-secondary);
  border-radius: 4px;
  padding: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}
.content-2U5lSY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.icon-3o6xvg.guildIconImage-3qTk45.guildIcon-lQ0uiM.iconSizeLarge-161qtT.iconActiveLarge-2nzn9z {
  background-color: #36393f;
  margin-right: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  position: relative;
  background-clip: padding-box;
  background-position: 50%;
  background-size: 100% 100%;
}
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignStretch-DpGPf3.noWrap-3jynv6.guildInfo-1STtYi {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
h3.inviteDestinationJoined-3W7Gue.inviteDestination-1fAcY7.base-1x0h_U.size16-1P40sf {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 45px;
}
.btn-title {
  outline: none;
  text-decoration: none;
}
button.button-3To2tQ.height20-mO2eIN.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.buttonSize-DbrWhv.grow-q77ONN {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #43b581;
  align-self: center;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: none;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .jumbotron .container .row {
    width: 80% !important;
  }
}

@media only screen and (max-width: 678px) {
  .jumbotron .container .row {
    width: 100% !important;
  }
}
